.skill-group-container {
  padding: 10px 0;
  max-width: 160px;
  max-height: 170px;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4), 0px 0px 0px rgba(0, 0, 0, 0.23)
}

.skill-group-item {
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  line-height: 2.5;
}