.menu-header {
  padding-top: 20px;
}
.menu-header .logo {
  color: var(--white);
}
.menu-header .logo:hover {
  text-decoration: none;
}
.menu-header .logo span {
  margin-left: 15px;
  font-family: var(--steps-font);
  font-size: 16px;
}
.menu-header ul {
  margin: 5px 0 0 0;
}
.menu-header li {
  list-style: none;
  display: inline-block;
}
.menu-header .btn-holder .btn-outlined {
  margin-left: 20px;
}
.menu-header span {
  color: var(--white);
  font-size: 12px;
}

.activeUser {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.activeUser img {
  max-width: 40px;
  margin-left: 20px;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 50%;
}

.userDropdown {
  position: relative;
  z-index: 1000;
}

.userDropdown ul {
  position: absolute;
  background: white;
  min-width: 122px;
  text-align: center;
  padding: 28px 25px 20px 25px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  left: -20px;
  top: 50px;
}

.userDropdown ul li a {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #000000;
}

.userDropdown ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: auto;
}