.CompliteProfile {
  margin-top: 243px;
}

.CompliteProfile .Profile-image-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  top: -100px;
  margin-bottom: -40px;
  position: relative;
}

.Profile {
  background: white;
  position: relative;
  padding-bottom: 40px;
}

.Profile .Profile-image-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: -100px;
  margin-bottom: -40px;
  position: relative;
}

.ProfileImage:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 2px dashed #00c1d8;
  border-radius: 100%;
}

.ProfileImage {
  position: relative;
  margin-right: 20px;
  padding: 12px;
  cursor: pointer;
  width: 185px;
  height: 185px;
}

.ProfileImage:hover:after {
  -webkit-animation: spin 2s  linear;
  animation: spin 2s  linear;
}

.ProfileImage:before {
  content: "";
  background: url('../../../assets/images/Company/play-video.png');
  position: absolute;
  bottom: -13px;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  background-size: 100%;
  border-radius: 50%;
  transition: all .4s;
  z-index: 99;
}

.ProfileImage:hover:before {
  content: "";
  -webkit-box-shadow: 0 4px 10px 0 rgba(203, 203, 203, 0.6);
  box-shadow: 0 4px 10px 0 rgba(203, 203, 203, 0.6);
}

.ProfileImage img {
  margin: 0;
}

.UserInfo h2 {
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 10px;
}

.UserInfo h3 {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 20px;
}

.UserInfo .experience span {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.UserInfo .experience b {
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-left: 5px;
}

.UserInfo .experience {
  margin-bottom: 10px;
}

.UserInfo video {
  border-radius: 10px;
}

.seeking h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 15px;
}

.seeking ul {
  padding: 0;
  list-style: none;
}

.seeking ul li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
}

.seeking ul li img {
  position: absolute;
  left: 0;
  top: 11px;
}

.seeking ul li span {
  display: block;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.seeking ul li b {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}

.skills h3 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 15px;
}

.skills ul {
  padding: 0;
  list-style: none;
}

.skills ul li {
  display: inline-block;
  border-radius: 14px;
  border: solid 1px #d8d8d8;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  padding: 4px 10px;
}

.Profile.CompliteProfile:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.59);
  top: 0;
  z-index: 1000;
}

.Profile.CompliteProfile:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 243px;
  top: -243px;
  background: rgba(0, 0, 0, 0.59);
}